.text-md{
	font-size: 16px;
}

.text-lg{
	font-size: 28px;
}

.delete-btn{
    background-color: #ff5b5b;
    color: #ffe5d9;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: #171717;
	transition: all 0.15s;
}

a:hover{
	color: #2563eb;
}

body{
	display: flex;
	flex-direction: column;
	gap: 25px;
	color: #171717;
}

#page-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	border-bottom: 1px solid #171717;
}

#page-header > h1{
	margin: 0;
}

#header-list{
	display: flex;
	gap: 16px;
	font-size: 18px;
	margin: 0;
	font-weight: 600;
}

#header-list > li {
	cursor: pointer;
}

#hero{
	display: flex;
	flex-direction: column;
	gap: 40px;	
}

#hero-img{
	width: 100%;
}

.school-desc-div{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0px 30px;
}

.school-logo{
	border-radius: 100%;
	width: 400px;
	height: 400px;
	object-fit: cover;
}

.hero-para-container{
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.para{
	font-size: 20px;
	text-align: center;
}

.school-name{
	color: #1e3a8a;
}

.heading-text{
	font-size: 42px;
	text-align: center;
}

#about{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-para{
	width: 600px;
	font-size: 18px;
	text-align: center;
}

#gallery{
	display: flex;
	flex-direction: column;
}

.sub-heading{
	text-align: center;
}

.victory-img{
	width: 250px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0 2px 4px #171717;
	transition: all 0.15s;
}

.victory-img:hover{
	transform: translateY(5px);
	box-shadow: 0 0px 0px #171717;
}


.gallary-grid{
	display: grid;
	gap: 40px;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}



.footer{
	padding: 10px;
	border-top: 1px solid #171717;
}