body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px 0;
}

section {
  margin: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 8px darkblue;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #ddd;
}

#favourite-section{
  background-image: url("onePiece.jpeg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: 100% 50%;
}